<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark">
    © 2020 Copyright:
    <a href="#"> ElroyTryambak</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<style>
  footer {
    color: whitesmoke;
    position: relative;
    bottom: 0;
  }
</style>
