<div id="map" style="width:100%;height:65%;"></div>
<meta
  name="viewport"
  content="initial-scale=1,maximum-scale=1,user-scalable=yes"
/>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css"
  rel="stylesheet"
/>

<script src="https://tiles.locationiq.com/v2/js/liq-styles-ctrl-gl.js?v=0.1.6"></script>
<link
  href="https://tiles.locationiq.com/v2/css/liq-styles-ctrl-gl.css?v=0.1.6"
  rel="stylesheet"
/>
<script src="js/map.js"></script>

<style>
  .marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
  }
</style>
