<html>
  <body>
    <%- include('partials/navbar.ejs') %>

    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <div id="about">
      <p>
        A site that gives information about available beds in hospitals around
        you. Inspired by Covid-19
      </p>
      <p>
        Made with love by Elroy and Tryambak
      </p>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <%- include('partials/footer.ejs')%>
  </body>

  <style>
    #about {
      padding: 20px;
      text-align: center;
    }
  </style>
</html>
