<html>
  <body>
    <%- include('partials/navbar.ejs') %><br /><br />
    <%- include('partials/maps.ejs')%> <%-
    include('partials/dispnearby.ejs')%><%- include('partials/footer.ejs')%>
  </body>
</html>
