<html>
  <body>
    <%- include('partials/navbar.ejs') %>

    <br /><br /><br /><br />
    <form id="form1" method="POST" action="/authenticate">
      <% if(error.length){%>
      <div class="alert-error"><%=error%></div>
      <%}%>
      <br />
      <div class="form-group">
        <label for="exampleInputEmail1">Hospital Name</label>
        <input
          class="form-control"
          name="username"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your information with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="Code">Registration ID</label>
        <input type="number" class="form-control" id="code" name="code" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <%- include('partials/footer.ejs')%>
  </body>

  <style>
    #form1 {
      margin: 0 auto;
      border-radius: 10px;
      padding: 10px;
      width: 50%;
    }
    .alert-error {
      height: 30px;
      text-align: center;
      font-family: "Raleway", sans-serif;
      background: rgba(216, 157, 177, 0.884);
      color: red;
      border-radius: 10px;
      padding: 5px;
    }
  </style>
</html>
