<html>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function authenticate() {
      console.log("here");
      var name = document.getElementById("exampleInputEmail1").value;
      var code = document.getElementById("code").value;
      var pass = document.getElementById("exampleInputPassword1").value;
      console.log(name, code, pass);
      axios({
        method: "post",
        url: "/main/authenticate",
        data: {
          username: name,
          code: code,
          password: pass,
        },
      })
        .then((answer) => {
          console.log(answer);
          window.localStorage.setItem(
            "auth-token",
            answer.headers["auth-token"]
          );
        })
        .catch((err) => console.log(err));
    }
  </script>
  <body>
    <%- include('partials/navbar.ejs') %>

    <br /><br /><br /><br />
    <form id="form1" method="POST" action="/hospital_login/authenticate">
      <% if(error.length){%>
      <div class="alert-error"><%=error%></div>
      <%}%>
      <br />
      <div class="form-group">
        <label for="exampleInputEmail1">Hospital Name</label>
        <input
          class="form-control"
          name="username"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your information with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="Code">Registration ID</label>
        <input type="number" class="form-control" id="code" name="code" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <%- include('partials/footer.ejs')%>
  </body>

  <style>
    #form1 {
      margin: 0 auto;
      border-radius: 10px;
      padding: 10px;
      width: 50%;
    }
    .alert-error {
      height: 30px;
      text-align: center;
      font-family: "Raleway", sans-serif;
      background: rgba(216, 157, 177, 0.884);
      color: red;
      border-radius: 10px;
      padding: 5px;
    }
  </style>
</html>
