<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://mdbootstrap.com/"> ElroyTryambak.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<style>
  footer {
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
  }
</style>
