<div id="result">
  hello
</div>
<style>
  #result {
    display: none;
    height: 100px;
    width: 100%;
    background-color: blueviolet;
  }
</style>

<script>
  function show() {
    document.getElementById("result").style.display = "block";
  }
</script>
